/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 ====================================================================
  RESET ENDS
 ====================================================================
 */

body{
    background-image: url("../assets/market-839574_1920.jpg");
    width: 100%;
    background-position: cover;
}

header {
    order: 0;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.primary-header{
    display: block;
    background: #2d3343;
    width: 100%;
    height: 50px;
}

.main-box {
    display: flex;
    flex-direction: column;
    height: 70vh;
}
.center-content{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.welcome h3{
    font-size: 40px;
    font-weight: 700;
    color:#150101;
}

footer{
    display: flex;
    justify-content: center;
    background: #2d3343;
    padding: 10px;
    height: 30px;
    text-align: center;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

footer a{
    color: white;
}

.label {
    float: left;
    display: block;
    color: rgba(0, 71, 171, 0.6);
}


/*==================================================================
    LOGOWANIE   
=====================================================================*/
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 50px;
    background-color: rgba(0, 71, 171, 0.6);
    border-radius: 15px;
    color: aliceblue;
}

.login fieldset{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    text-align: center;
    float: left;
}

.login input,

.login label{
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.login select{
    display: block;
    margin: 10px 0 10px 70px;
    cursor: pointer;
}

label{
    color: aliceblue;
}

.button{
    margin-left: 88px;
}
/*-----------------------------------------------------------------
                           NAVIGATION                         */
.nav{
    width: 100%;
    padding: 10px 0;
    background-color: #2d3343;
    text-align: center;
}

.nav img {}

.nav > ol > li {
    background-color: #2d3343;
}


ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display:inline-block;
}
ol a{
    color: aliceblue;
    text-decoration: none;
    display: block;
}

 ol > li{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed red;
}

ol > li first-child {
    border-left: 1px dashed red;
}

ol > li:hover{
    background-color:red;
}

ol > li > ul{
    list-style-type: none;
    padding: 0;
    margin:0;
    height: 40px;
    display: none;
}

ol> li:hover > ul {
    display: block;
}

ol > li > ul > li {
    background-color: #2d3343;
    position: relative;
    z-index: 100;
    border-top: 1px dashed red;
}

ol > li > ul > li:hover{
    background-color: red;
}

.welcome{
    padding-left: 100px;
    padding-top: 100px;
}

/*
====================================================================
                               TABELE
====================================================================
*/
table {
    order: 1;
    padding: 20px;
    background-color: #2d3343;
    border-radius: 3px;
    color: cornflowerblue;
}

td > ul > li, td > ul > li > a, td > a, td {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    
}

th {
    padding: 10px;
    color: cornflowerblue;
}
/*===================================================================*/