{% extends "admin.html" %}

{% block title %}Edit mentor{% endblock %}

{% block content %}
<div class="center-content">
    <h3 class="label">Edit Mentor: {{ id }}</h3>
</div>
<div class="center-content">
    <form class="login" method="POST">
        Mentor's name:
        <input type="text" name="mentorName" required>
        Mentor's surname:
        <input type="text" name="mentorSurname" required>
        Mentor's email:
        <input type="email" name="mentorEmail" required>
        Mentor's login:
        <input type="text" name="mentorLogin" required>
        Mentor's password:
        <input type="password" name="mentorPassword" required>
        Confirm password:
        <input type="password" name="mentorPassword" required>
        <input type="submit" name="newMentor" value="save">
    </form>
</div>
{% endblock %}