{% extends "index.html" %}

{% block title %}Admin{% endblock %}

{% block header %}
    <nav class="nav">
        <ol>
            <li><a href="#">Home</a></li>
            <li><a href="admin-mentor-nav">Mentor</a>
                <ul>
                    <li><a href="#">Create</a></li>
                    <li><a href="#">Show all</a></li>
                </ul></li>
            <li><a href="admin-class-nav">Class</a>
                <ul>
                    <li><a href="#">Create</a></li>
                   {% for class in classes %}
                    <li><a href="/{{class.name}}"}}> {{class.name}} </a></li>
                    {% endfor %}
                </ul></li>
            <li><a href="admin-exp-lvl-nav">Exp level</a>
                <ul>
                    <li><a href="#">Create</a></li>
                    <li><a href="#">Show all</a></li>
                </ul></li>
            <li><a href="/logout">Logout</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h3 class="welcome center-content"> Welcome {{name}} !! </h3>
{% endblock %}

