{% extends "admin.html" %}

{% block title %}Create mentor{% endblock %}

{% block content %}

    <div class="center-content">
        <form class="login" method="POST">
            <div class="label" align="top">Create Mentor</div>
            Mentor's name:
            <input type="text" name="mentorName" required>
            Mentor's surname:
            <input type="text" name="mentorSurname" required>
            Mentor's email:
            <input type="email" name="mentorEmail" required>
            Mentor's login:
            <input type="text" name="mentorLogin" required>
            Mentor's password:
            <input type="password" name="mentorPassword" required>
            Confirm password:
            <input type="password" name="mentorPassword" required>
            <select name="class">
                {% for class in classes %}
                <option name="class" value="{{class.id}}">{{class.name}}</option>
                {% endfor %}
            </select>
            <input class="button" type="submit" name="newMentor" value="save">
        </form>
    </div>
{% endblock %}
