{% extends "admin.html" %}

{% block title %}Show mentors{% endblock %}

{% block content %}
    <div class="main-box">
        <div class="center-content"><h3 class="label">Mentors</h3></div>

        <div class="center-content">
            <table>
                <caption class="label" align="top">Mentors</caption>
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.surname }}</td>
                        <td>{{ person.email }}</td>
                        <td><a href="/admin/{{admin.id}}/editMentor/{{person.id}}">Edit</a></td>
                        <td><a href="/admin/{{admin.id}}/removeMentor/{{person.id}}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}