<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style/main.css">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<header class="container">
    <div class="nav"><img src="/static/image/logo-white.png"></div>
    <div class="primary-header">
        {% block header %} {% endblock %}
    </div>
</header>
    <div class="main-box">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; CodeCool QuestStore </p>
        {%block footer %}
        <br>
        {% endblock %}
    </footer>

</body>
</html>
