<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block head %}
    <link rel="stylesheet" href="static/main.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<header class="container">
    <img src="assets/logo-white.png">
    <div class="primary-header"></div>
</header>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 Codecoolshop
        {% endblock %}
    </div>
</body>
</html>
