{% extends "mentor.html" %}

{% block title %}Show quests{% endblock %}

{% block content %}
<!--<div class="center-content">-->
    <!--<h3 class="label">Quests</h3>-->
<!--</div>-->
<div class="center-content">
    <table>
        <caption class="label" align="top">Quests</caption>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for quest in quests %}
        <tr>
            <td>{{ quest.name }}</td>
            <td>{{ quest.description }}</td>
            <td>{{ quest.price }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}