{% extends "mentor.html" %}

{% block title %}Create category{% endblock %}

{% block content %}

<div class="center-content">
    <form class="login" method="post">
        <h3 class="label">Create Category</h3>
        Category's name:
        <input type="text" name="categoryName" required>
        Category's description:
        <input type="text" name="categoryDescription" required>

        <input type="submit" class="button" name="newCategory" value="save">
    </form>
</div>
{% endblock %}
