{% extends "mentor.html" %}

{% block title %}Create student{% endblock %}

{% block content %}

<div class="center-content">
    <form method="POST" class="login">
        <div class="label">Create Student</div>
        Student's name:
        <input type="text" name="studentName" required>
        Student's surname:
        <input type="text" name="studentSurname" required>
        Student's email:
        <input type="email" name="studentEmail" required>
        Student's login:
        <input type="text" name="studentLogin" required>
        Student's password:
        <input type="password" name="studentPassword" required>
        Confirm password:
        <input type="password" name="studentPassword" required>
        <select name="class">
            {% for class in classes %}
            <option name="{{class.id}}" value="{{class.id}}">{{class.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" class="button" name="" value="save">
    </form>
</div>
{% endblock %}
