{% extends "mentor.html" %}

{% block title %}Create artifact{% endblock %}

{% block content %}
<div class="center-content">
    <h3 class="label">Create Artifact</h3>
</div>
<div class="center-content">
    <form class="login" method="post">
        Artifact's name:
        <input type="text" name="artifactName" required>
        Artifact's description:
        <input type="text" name="artifactDescription" required>
        Artifact's price:
        <input type="number" name="artifactPrice" min="0" required>

        <input type="submit" name="newArtifact" value="save">
    </form>
</div>
{% endblock %}
