{% extends "mentor.html" %}

{% block title %}Show students{% endblock %}

{% block content %}

    <div class="center-content"><h3 class="label">Students</h3></div>

    <div class="center-content">
        <table>
            <thead>
                <caption class="label" align="top">Students</caption>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Show</th>
                    <th>Quests</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for person in persons %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.surname }}</td>
                <td>{{ person.email }}</td>
                <td><a href="/mentor/{{mentor.id}}/studentWallet/{{person.id}}">Show</a> </td>
                <td><a href="/mentor/{{mentor.id}}/student/{{person.id}}">Quest</a> </td>
                <td><a href="/mentor/{{mentor.id}}/editStudent/{{person.id}}">Edit</a></td>
                <td><a href="/mentor/{{mentor.id}}/removeStudent/{{person.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}