{% extends "index.html" %}

{% block title %}Student{% endblock %}

{% block header %}
    <nav class="nav">
        <div>
            <ol>
                <li><a href="/student">Home</a></li>
                <li><a href="/student-wallet">Wallet</a></li>
                <li><a href="/student-store">Store</a></li>
                <li><a href="/logout">Logout</a></li>
            </ol>
        </div>
    </nav>
{% endblock %}

{% block content %}
<h3 class="center-content welcome"> Welcome {{name}} </h3>
{% endblock %}


