{% extends "student.html" %}

{% block title %} Wallet {% endblock %}

{% block content %}

<div class="center-content">
    <h3 class="label">Wallet</h3>
</div>
<div class="center-content">
    <table>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Balance</th>
            <th>Level</th>
        </tr>
        {% for wallet in wallets %}
            {% if ( person == wallet.person ) %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ wallet.totalCoolcoinsEarn }}</td>
            <td>{{ wallet.balance }}</td>
            <td>{{ wallet.level.name }}</td>
        </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock %}
